tmp/
components/
managed_components/
!managed_components/
managed_components/*
!managed_components/txp666__otto-emoji-gif-component/
!managed_components/txp666__otto-emoji-gif-component/**
build/
dist/
.tmp/
.tools/
.ccache/
.ccache-tmp/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd
